.serviceCard{
    margin: 15px 5px 15px 5px;
    height: 20rem;
    padding: 50px 25px 50px 25px;
    cursor: pointer;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    background-color: #ddd;
    transition: all ease .5s;
}
.serviceCard:hover{
    background-color: #F0F0F0;
}
.title{
    color: #fff;
    font-size: 40px;
    margin: 30px 0 40px 0;
}
.serviceName{
    margin-top: 1.5rem;
    font-size: 14px;
    font-weight: 600;
    color: #484545;
}
.service-des{
    color: gray;
    margin-top: 1rem;
}
.service-icon{
    color: #590814;
    font-size: 38px;
}
.read-more{
    font-size: 14px;
    color: #484545;
}