.portfolioCard{
    /*border: 1px solid #F0F0F0;*/
    box-shadow: 0 0 6px 0 rgba(0,115,230,0.2);
    border-radius: 5px;
    margin: 10px 0;
}
.portfolioCard:hover{
    background-color: #590814;
    border-radius: 5px;
}
.projectImage {
    opacity: 0.9;
    display: block;
    border-radius: 5px;
    max-width: 100%;
    height: 500px;
    transition:all.3s ease;
    backface-visibility: hidden;
}
.portfolioCard:hover .projectImage {
    opacity: 0.3;
}
.middle {
    transition:all.3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.portfolioCard:hover .middle {
    opacity: 1;
}
.text {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 25px;
    border: 2px solid #F0F0F0;
    border-radius: 25px;
}
a{
    text-decoration: none !important;
}