body{
    font-family: 'Roboto', sans-serif;
}
.topFixedBanner{
    background-image: url("https://i.ibb.co/tzYBVMP/banner-bg.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topBannerOverlay{
    position: absolute;
    min-height: 600px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.topContent{
    margin-top: 9rem !important;
}

.btn-outline-primary {
    color: #590814 !important;
    border-color: #590814 !important;
    transition: all ease .5s;
}
.btn-outline-primary:hover{
    background-color: #590814 !important;
    color: white !important;
}
.topContent{
    margin-top: 5rem;
}
.banner-img{
    margin-left: 7rem;
}
.hello-title{
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 1rem;
}
.name-title{
    color: #ffffff;
    font-weight: 500;
    font-size: 58px;
}
.skill-title{
    font-size: 46px;
    font-weight: 500;
    color: white;
}
.text-des{
    color: gray;
}