.contact-title{
    font-size: 1.4rem;
    margin-top: 2rem;
    color: #fff;
}
.contact-info{
    color: #fff;
}
.footer-icon{
    cursor: pointer;
    transition: all ease .5s;
}
.footer-icon:hover{
    color: #590814;
}

.copy-write, 
.textDes{
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.bg-light{
    background-color: rgb(32, 32, 32) !important ;
}

.send-btn{
    background-color: #590814 !important ;
    color: #fff;
}