.navBackground{
    background-color: #333;
    border-bottom: 1px solid #333;
    border-radius: 4px;
}
.navbar-expand-lg .navbar-nav {
    margin-right: 80px;
}
.logo-title{
    color: #fff !important;
    font-weight: 600;
}
.navItem{
    font-size: 1rem;
    margin: 8px 10px;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    color: #fff !important;
    transition: all 0.4s ease;
}
.navItem:hover{
    color: #28A745 !important;
}

.btn-primary {
    color: #fff;
    /* background-color: #590814 !important;
    border-color: #590814 !important; */
    background: none;
    border: none !important;
    /* transition: .2s all ease; */
}
/* .btn-primary:hover{
    background-color: #fff !important;
    color: #fff;
} */