.blogCard{
    width: 330px;
    background-color: #ffffff;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease .5s;
}
.blogCard:hover{
    box-shadow: 0 0 4px 0 rgba(160,160,160,0.5);
}
.blogImg{
    width: 100%;
    height: 200px;
    border-radius: 0px;
}
.blog-Topic-Title{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #484545;
    transition: all 0.3s ease;
}
.blog-Topic-Title:hover{
    color: #2C3BCF;
    text-decoration: none;
}
.adminImg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #4D4D4D;
}
.byAdmin{
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    font-weight: 600;
    color: #4D4D4D;
}
.postDate{
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    margin-left: 50px;
    color: #4D4D4D;
    font-weight: 600;
}
.blogDes{
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    margin-top: 5px;
    color: #484545;
}
.readMore{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 2px solid #590814;
    transition: all 0.6s ease;
    margin-left: 2px;
}
.readMore:hover{
    text-decoration: none;
    color: #590814;
    border-bottom: none;
    border-left: 2px solid #590814 ;
}